---
layout: default
discription: template for publications page.
permalink: /publications/
---




{{ content}}

<h2>Journal Articles and Conference Papers</h2>
{% for pub in site.data.refs %}
<!---
{% if forloop.first %}
<h1>Publications</h1>
{% endif %}
{% if forloop.index0 == 0 %}
<h2>Journal Articles</h2>
{% elsif forloop.index0 == 15 %}
<h2>Other Publications</h2>   
{% endif %}
--->
<table>
<tr>
 <td><i class="fas fa-file-lines fa-3x"></i></td> 
 <td><i class="fa-duotone fa-regular fa-book-open-lines"></i></td>
 <td style="text-align: left;">

{% if pub.title %} <span>{{ pub.title | strip }}</span>, {% endif %}
{% if pub.author %}
  <!---<span style="font-weight: bold; font-style: italic;">{{ pub.author | strip }},</span>--->
  <span style="font-weight: bold;">{{ pub.author | strip }},</span>
{% endif %}

<span style="color: rgb(66, 63, 63);">
  {% if pub.publisher %} {{ pub.publisher }}, {% endif %}
  {% if pub.series %} {{ pub.series }}, {% endif %}
  {% if pub.booktitle %} {{ pub.booktitle }}, {% endif %}
  {% if pub.journal %} {{ pub.journal }}, {% endif %}
  {% if pub.howpublished %} {{ pub.howpublished }}, {% endif %}
  {% if pub.pages %} <a> Pages: {{ pub.pages }}</a>, {% endif %}
  {% if pub.volume %} Volume: {{ pub.volume }}, {% endif %}
  {% if pub.year %} {{ pub.year }}; {% endif %}

  {% if pub.url and pub.doi %} 
        <a href="{{ pub.url }}">Link</a>, <a href="https://doi.org/{{ pub.doi }}">DOI</a>
  {% elsif pub.url %}  <a href="{{ pub.url }}">Link</a>
  {% elsif pub.doi %}  <a href="https://doi.org/{{ pub.doi }}">DOI</a>{% endif %}
</span>
 </td>
</tr>
</table>
{% endfor %}

