---
layout: default
discription: template for publications page.
permalink: /publications/
---




{{ content}}


{% for pub in site.data.refs %}
<!---
{% if forloop.first %}
<h1>Publications</h1>
{% endif %}
{% if forloop.index0 == 0 %}
<h2>Journal Articles</h2>
{% elsif forloop.index0 == 3 %}
<h2>Conference Papers</h2>
{% elsif forloop.index0 == 6 %}
<h2>Book Chapters</h2>
{% elsif forloop.index0 == 9 %}
<h2>Technical Reports</h2>
{% elsif forloop.index0 == 12 %}
<h2>Theses</h2>
{% elsif forloop.index0 == 15 %}
<h2>Other Publications</h2>   
{% endif %}
--->

{% if pub.title %} <div> {{ pub.title }}, </div> {% endif %}
{% if pub.author %}
  <div style="font-weight: bold; font-style: italic;">{{ pub.author }},</div>
{% endif %}

<div>
  {% if pub.publisher %} {{ pub.publisher }}, {% endif %}
  {% if pub.series %} {{ pub.series }}, {% endif %}
  {% if pub.booktitle %} {{ pub.booktitle }}, {% endif %}
  {% if pub.journal %} {{ pub.journal }}, {% endif %}
  {% if pub.pages %} <a> Pages: {{ pub.pages }}</a>, {% endif %}
  {% if pub.volumes %} Volume: {{ pub.volumes }}, {% endif %}
  {% if pub.year %} {{ pub.year }} {% endif %}
</div>



<div>
{% if pub.url %}
  <a href="{{ pub.url }}">Link</a>,
{% endif %}
{% if pub.doi %}
  <a href="https://doi.org/{{ pub.doi }}">DOI</a>,
{% endif %}
{% if pub.arxiv %}
  <a href="https://arxiv.org/abs/{{ pub.arxiv }}">arXiv</a>,
{% endif %}
{% if pub.code %}
  <a href="{{ pub.code }}">Code</a>,
{% endif %}
</div>
<hr>
{% endfor %}

